@import "tailwindcss";

:root {
  --background: #fff9f4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #e88411;
  --color-border: #00000014;
  --color-secondary: #fff1e0;
  --color-secondary-foreground: #92400e;
  --color-card: #ffffff;
  --color-card-foreground: #ffffff;
  --color-muted: #f3f4f6;
  --color-muted-foreground: #9ca3af;
  --color-success: #16a34a;
  --color-success-foreground: #ffffff;
  --color-accent: #f59e0b;
  --color-accent-foreground: #ffffff;
  --color-destructive: #dc2626;
  --color-destructive-foreground: #ffffff;
  --color-warning: #f97316;
  --color-warning-foreground: #ffffff;
  --color-sidebar: #fff6ed;
  --color-sidebar-foreground: #7c2d12;
  --color-sidebar-primary: #d97706;
  --color-sidebar-primary-foreground: #ffffff;
  --font-primary: var(--font-inter);
}


body {
  background: var(--background);
  color: var(--foreground);
}
